body{
    background-color: rgb(238, 238, 238);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    width: 60px;
}

span{
    border-radius: 5px;
}